*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-image: url(../images/fondo/fondo_negro.jpg);
    font-family: 'Abel', sans-serif;
    font-size: 14px;
    text-align: justify;
    color: white;
}

.navbar-toggler{
    font-size: 12px;
}
.navbar-brand{
    font-family: 'Michroma', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
}
.navbar-brand spam{
    color: yellow;
}
.nav-link:hover{
    color: yellow;
}

.btn-outline-success{
    color: yellow;
    border-color: yellow;
}
.btn-outline-success:hover{
    color: black;
    background-color: yellow;
}
.btn{
    background-color: yellow;
    color: black;
}

.carousel-item{
    background-color: rgba(0, 0, 0, 0.171);
}

.card{
    background-color: rgba(0, 0, 0, 0.144);
    margin: 20px 15px
}
.card-article{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 15px 15px;
    padding: 5px 15px;
}

.card-body{
    padding: 10px;
    margin: 15px 5px;
}
.h3{
    font-family: 'Michroma', sans-serif;
}
.h3 span{
    color: yellow;
}
